.header__lang-link {
  width: 30px;
  height: 28px;
  color: white;
  align-self: center;
  text-decoration: none;
}

.header__lang-link:last-child {
  width: 29px;
  height: 28px;
}

.header__lang-link:hover {
  opacity: 0.8;
  transition: 0.5s;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    width: 22px;
    height: 20px;
  }
  
  .header__lang-link:last-child {
    width: 22px;
    height: 20px;
  }
}