.place__title {
  margin: 0;
  max-width: 460px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  font-weight: 900;
}

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;

  }
}

@media screen and (max-width: 768px) {
  .place__title {
    max-width: 330px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    margin: 0 auto;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}