.footer__links {
  display: flex;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
}

@media screen and (max-width: 640px) {
  .footer__links {
    display: block;
    margin: 0 auto;
    font-size: 24px;
    line-height: 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer__links {
    display: block;
    margin: 0 auto 48px 0;
    font-size: 24px;
    line-height: 24px;
  }
}