.place__paragraph {
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  margin: 0;
  letter-spacing: 0em;
}

.place__paragraph:nth-child(1) {
  margin: 0 auto 26px;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    margin: 0 auto;
  }
  
  .place__paragraph:nth-child(1) {
    margin: 0 auto 27px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
  
  .place__paragraph:nth-child(1) {
    margin: 0 auto 25px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    display: block;
    max-width: 288px;
    margin: 0 auto;
  }
  
  .place__paragraph:nth-child(1) {
    margin: 32px auto 25px;
  }
}