.intro__text {
  margin: 40px auto 33px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  height: 208px; 
}

@media screen and (max-width: 320px) {
  .intro__text {
    margin: 40px auto 34px;
    min-height: 520px; 
  }
}