.content__item {
  margin: 0 auto 92px;
}
.content__item:nth-child(1) {
  margin: 56px auto 92px;
}
.content__item:nth-child(2) {
  margin: 0 auto 92px 148px;
}

@media screen and (max-width: 1024px) {
  .content__item:nth-child(1) {
    margin-top: 48px;
  }
  .content__item:nth-child(2) {
    margin: 0 auto 92px 48px;
  }

}

@media screen and (max-width: 768px) {
  .content__item {
    margin: 0 auto 88px;
  }
  .content__item:nth-child(1) {
    margin: 48px auto 88px;
  }
  .content__item:nth-child(2) {
    margin: 0 auto 88px;
  }
  .content__item:nth-child(4) {
    margin: 0 auto 90px;
  }
}

@media screen and (max-width: 320px) {
  .content__item {
    margin: 0 auto 64px;
  }
  .content__item:nth-child(1) {
    margin: 48px auto 64px;
  }
  .content__item:nth-child(2) {
    margin: 0 auto 64px;
  }
}